/* Custom CSS Layered onto Twitter Bootstrap. */

body {
	margin: 0px;
}

.fh {
	background-color: rgb(109, 185, 255);
}

/* TODO:  Fix the floating of the logo; */

#fh-home {
	min-height: 500px;
	height: 30%;
	min-width: 900px;
	margin: 0;
	padding: 10px 0 0 0;
	background-image: url('../img/hdr_logo.png');
	background-repeat: no-repeat;
	background-position: bottom;
}

#fh-content {
	width: 900px;
}

#fh-nav {
	width: 100%;
	min-height: 500px;
	background-image:  url('../img/hdr_menubar.png');
	background-repeat: repeat-x;
	background-position: center bottom;
}

#fh-nav-lights {
	width: 900px;
	min-height: 500px;
	margin: 0 auto;
	background-image:  url('../img/hdr_lights.png');
	background-repeat: no-repeat;
	background-position: 97% 0%;
}

#fh-nav-inner {
	width: 900px;
	min-height: 500px;
	margin: 0 auto;
	background-image:  url('../img/hdr_buildings.png');
	background-repeat: no-repeat;
	background-position: center bottom;
}