/* Custom CSS Layered onto Twitter Bootstrap. */

body {
	margin: 0px;
}

.fh {
	background-color: rgb(109, 185, 255);
}

#fh-home {
	height: 500px;
	min-width: 900px;
	margin: 0;
	padding: 10px 0 0 0;
	background-image: url('../img/hdr_logo.png');
	background-repeat: no-repeat;
	background-position: center bottom;
}

#fh-content {
	width: 900px;
}

#fh-home-inner {
	width: 100%;
	min-height: 500px;
	background-image:  url('../img/hdr_menubar.png');
	background-repeat: repeat-x;
	background-position: center bottom;
}

#fh-home-lights {
	width: 900px;
	min-height: 500px;
	margin: 0 auto;
	background-image:  url('../img/hdr_lights.png');
	background-repeat: no-repeat;
	background-position: 97% 0%;
}

#fh-home-content {
	width: 900px;
	min-height: 500px;
	margin: 0 auto;
	background-image:  url('../img/hdr_buildings.png');
	background-repeat: no-repeat;
	background-position: center bottom;
}

#fb-content {
	min-height: 300px;
}

#fh-home-lead {
	margin: 125px 0;
	height:100px;
	width: 250px;
	float:left;
}

.announcement {
	font-size: 60px;
	text-align: center;
	margin-top: 40px;
}

.ff {
	width: 100%;
	min-height: 40px;
	background-color: rgb(0,0,0);
	text-align: center;
}

.ff #copyright {
	color: rgb(255,255,255);
	line-height: 2.5em;
}

.ff #copyright a, .ff #copyright a:hover {
	color:rgb(255,255,255);

}

